.App {
  text-align: center;
}

.Menu {
  display: flex;
  justify-content: center;
}

a:-webkit-any-link {
  text-decoration: none;
}

.App-header {
  background-color: white;
  font-size: 3em;
  font-weight: 500;
  height: 10vh;
  padding: 2em;
  color: #222;
  font-family: 'Raleway', sans-serif;
}

.App-intro {
  padding: 1em;
  font-family: 'Raleway', sans-serif;  
  font-weight: 300;
  font-size: large;
}
